In [ ]:
Make a function that can take any non-negative integer as an argument and return it with its
digits in descending order. Essentially, rearrange the digits to create the highest possible
number. If no number is passed in, make the default value inputted = 111111.
Input = 43905 Output = 95430
Input = 584366 Output = 866543

In [31]:
def sort_number(n):
    if n == "":
        return 111111
    elif n > 0:
        n = str(n)
        digitlist = []
        for element in n:
            digitlist.append(element)
        digitlist.sort(reverse=True)
        joined = ''.join(digitlist)
        return joined

In [32]:
sort_number(6749)

'9764'

In [ ]:
Import jeopardy.csv and create a dataframe from the data. Find out the following:
a. How many rows are there in the dataframe? What does a row represent?
b. How many unique shows were there each year?
c. Think of another question that this data might help answer. Make that question a
header in your notebook.
d. Answer your question and show the steps you used to do so clearly.

In [86]:
import pandas as pd
import datetime
text_file=pd.read_csv('JEOPARDY_CSV.csv',index_col=False)
jeo_df=pd.DataFrame(text_file)

In [69]:
jeo_df

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
5,4680,12/31/2004,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant
6,4680,12/31/2004,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way
7,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan
8,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington
9,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel
10,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason
11,4680,12/31/2004,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud
12,4680,12/31/2004,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka)
13,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown
14,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service beg...",the UV index
15,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1...",Bulova
16,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward wh...",Jesse James
17,4680,12/31/2004,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who mig...",imp
18,4680,12/31/2004,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizati...,the International
19,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig
20,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,Africa's lowest temperature was 11 degrees bel...,Morocco
21,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to ...,(Paul) Bonwit
22,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to you...",Hattie McDaniel (for her role in Gone with the...
23,4680,12/31/2004,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an...",era
24,4680,12/31/2004,Jeopardy!,HISTORY,"$1,000",This Asian political party was founded in 1885...,the Congress Party
25,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,"$1,000",No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain
26,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,"$1,000","The Kirschner brothers, Don & Bill, named this...",K2
27,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,"$1,000","Revolutionary War hero: ""His spirit is in Verm...",Ethan Allen
28,4680,12/31/2004,Jeopardy!,3-LETTER WORDS,"$1,000","A single layer of paper, or to perform one's c...",ply
29,4680,12/31/2004,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-1...",Horton
...,...,...,...,...,...,...,...
216900,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,$400,This Baldwin brother was extremely entertainin...,Alec Baldwin
216901,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,$400,He used the strength of his mind when he propo...,Samson
216902,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS",$400,Common species of this duck include blue-winge...,the teal
216903,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$400,"As a child, Joseph Conrad pointed to the cente...",Africa
216904,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,$400,"In 1981 he quipped, ""You can tell a lot about ...",Ronald Reagan
216905,4999,5/11/2006,Double Jeopardy!,WORLD CAPITALS,$800,It has a museum devoted to composer Zoltan Kodaly,Budapest
216906,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,$800,"""Red Light Winter"" centers on a love triangle ...",Amsterdam
216907,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,$800,Sphinx: What animal walks on 4 legs in the mor...,man
216908,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS",$800,"Toco, the largest species of this colorful bir...",a toucan
216909,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$800,Poet Gregory Corso went on the beat path after...,Allen Ginsberg
216910,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,$800,"In his prime this athlete said, It's hard to b...",Muhammad Ali
216911,4999,5/11/2006,Double Jeopardy!,WORLD CAPITALS,"$1,200",It's home to the Holmenkollen ski jump,Oslo
216912,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,"$1,200","We'd like to ""enlighten"" you about the musical...",Siddhartha
216913,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$1,200","He created the musical riddles called the ""Eni...",(Edward) Elgar
216914,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$1,200",One species of this bird breeds in the Arctic ...,a tern
216915,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$1,200",In his teens he worked in an assistant D.A.'s ...,(Erle Stanley) Gardner
216916,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,200","Oscar Wilde called this 4-letter word ""the cur...",work
216917,4999,5/11/2006,Double Jeopardy!,WORLD CAPITALS,"$3,400",Guyanese capital named for a Hanoverian monarch,Georgetown
216918,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,"$1,600","A naughty 18th c. novel originally titled ""Mem...",Fanny Hill
216919,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$1,600","If this riddling Belgian surrealist painter, b...",Magritte
216920,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$1,600",Nightingales & robins belong to this family of...,thrushes
216921,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$1,600",Her hotsy-totsy diaries trace back to one she ...,Anaïs Nin
216922,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$1,600","A motto of hers was ""in politics, if you want ...",(Margaret) Thatcher
216923,4999,5/11/2006,Double Jeopardy!,WORLD CAPITALS,"$2,000",It's on the Suriname River,Paramaribo
216924,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,"$2,000",In 2006 the cast of this long-running hit emba...,Stomp
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

1. 216930 rows and 7 columns in the dataframe. 
Rows represent information about a question and answers in a quiz.

In [3]:
jeo_df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [89]:
#b. How many unique shows were there each year?
show_row=jeo_df.iloc[:,1]
show_row
jeo_df['year'] = pd.DatetimeIndex(jeo_df['show_row']).year
jeo_df
#show_g=jeo_df.groupby(show_row)
#show_g
#show_count_year=show_g.count()["Show Number"]
#show_count_year_df=pd.DataFrame(show_count_year)
#show_count_year_df

KeyError: 'show_row'

3.